body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

@media (min-width: 360px) {
  .pt-5 {
    padding-top: 1rem !important;
    padding-bottom: 3rem;
  }

  .container{
    padding: 0 3em;
  }
  
  .col-12{
    padding-bottom: 1em;
  }

  .navbar-nav{
    text-align: right;
  }

  .col-md-4{
    margin-bottom: 1em;
  }


 .navbar{ padding: 2em;
 }
}

@media (min-width: 1166px){
  a.navbar-brand{
    padding-left: 5.5em;
  }
}